.team_bannar {
  width: 100%;
  min-height: 100vh;
  background-color: var(--theam_Bg_Color);
}

.team_bannar h1 {
  font-size: 79px;
  text-transform: uppercase;
  //   color: #212529;
  color: var(--white_Sm_Color);
  font-family: utd-cond, Impact, sans-serif;
}

.team_bannar p {
  font-size: 23px;
  line-height: 1.5;
  //   color: #212529;
  color: white;
}
.team_bannar img {
  border-radius: 50%;
  box-shadow: 0px 4px 60px -27px var(--white_Sm_Color);
}
